.gallery-section {
}

.gallery-container {
  padding: 90px 0;
}

.home-container {
  margin-left: 60px;
}

.home-tittle {
  padding: 30px 0;
}

.home-link {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 42px;

  color: #fff;
  line-height: normal;
  letter-spacing: 3.24px;
  text-transform: uppercase;
}

.gallery-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-right: 245px;
}

.gallery-title {
  font-family: "Source Code Pro";
  font-weight: 400;
  font-size: 36px;

  color: #fff;
  line-height: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.content-gallery {
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow i {
  font-size: 60px;
  color: #fff;
}

.arrow-right {
  transform: rotate(180deg);
}

.gallery-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 60px;
  padding: 60px 0;
}

.img-caption {
  font-weight: 400;
  font-size: 14px;

  color: #fff;
  line-height: normal;
  width: 220px;
  margin-top: 20px;
}

.img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

/*? overlay */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 90%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery-item {
  position: relative;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.card-title {
  position: absolute;

  font-family: "Source Code Pro";
  font-weight: 600;
  font-size: 26px;

  color: #fff;
  line-height: 0.02em;
  width: 100%;

  top: 50%;
  left: 0;
  color: #fff;
  text-align: center;
}
.card-number {
  position: absolute;

  right: 15px;
  top: 15px;

  font-size: 60px;
  font-weight: 400;
  color: #cecece;
  letter-spacing: 5.4px;
}
