@media screen and (max-width: 425px) and (hover: none) and (pointer: coarse) {
  /*******************************/
  /*! NAV-BAR */
  /*******************************/

  .nav-list {
    display: none;
  }

  .nav-bar {
    padding: 0 18px;
  }

  .logo {
    width: 120px;
    height: 45px;
  }

  .nav-logo::before {
    right: -12px;
  }

  .nav-list li :nth-last-child(3) {
    display: none;
  }

  /*? ==== BURGER-MENU ====*/

  .nav-list.show {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    /* width: 100%; */
    padding: 16px;
  }

  .mob-gallery {
    display: block;
  }

  /*? dropdown */

  .dropdown {
    display: none;
  }

  .nav-links {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
  }

  .burger-btn {
    position: absolute;
    right: 18px;
    /* top: 30px; */
    width: 40px;
    height: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 999;
    /* outline: 1px solid red; */
  }

  .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);

    transform: translateX(100%);
    transition: all 0.4s ease-in;
    visibility: hidden;
    opacity: 0;

    z-index: 666;
    gap: 22px;
  }

  .show,
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .bar:nth-child(1).active {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .bar:nth-child(2).active {
    display: none;
  }
  .bar:nth-child(3).active {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  /*? STICKY NAVIGATION */

  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 69px;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 666;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.4);
  }

  .sticky .bar {
    background-color: rgb(0, 155, 233);
  }

  .sticky .nav-links {
    color: #fff;
  }

  /*******************************/
  /*! HERO-SECTION */
  /*******************************/

  .section-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
      url("../img/mobile-img.JPG") no-repeat;
    background-size: cover;
    background-position: 40% center;
    height: 680px;
    width: 425px;
    z-index: 1;
  }

  .hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 320px;
    margin-left: 5px;
  }

  .hero-title {
    font-size: 52px;
    letter-spacing: 0.04em;
    line-height: 1.2em;
  }

  .hero-subtitle {
    font-size: 28px;
    color: #fff;
    letter-spacing: 0.02em;
    line-height: 1.2em;

    text-indent: 0px;
    margin-top: 22px;
  }

  .hero-subtitle::before {
    display: none;
  }

  .hero-btn {
    /* display: none; */
    font-size: 24px;
    letter-spacing: 0.04em;

    padding: 18px 42px;
    margin-top: 55px;
  }

  /*? ICONS-BOX */

  .icons-box {
    position: absolute;
    right: 28px;
    bottom: 24px;
  }

  .git-link {
    position: relative;
    display: flex;
    gap: 0.8rem;
  }

  .git-text {
    font-size: 28px;
    letter-spacing: 0.06em;
  }

  .git {
    font-size: 36px;
  }

  .git-icon {
    width: 18px;
  }

  /*******************************/
  /*! ABOUT-SECTION */
  /*******************************/

  .about-container {
    padding: 90px 0;
  }

  .about-feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;

    width: 100%;
  }

  .img-container {
    object-fit: cover;
    object-position: center;

    width: 100%;
  }

  .about-title {
    font-size: 62px;
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }

  .about-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #cecece;
    letter-spacing: 0.08em;
    line-height: 1.4em;
  }

  .about-development {
    font-weight: 400;
    font-size: 18px;
    color: #cecece;
    letter-spacing: 0.08em;
    line-height: 1.4em;

    margin-top: 12px;
  }

  .border {
    /* background-color: #fff; */
    padding: 0 12px;
    /* width: 90%; */
  }

  /*******************************/
  /*! SERVICES-SECTION */
  /*******************************/

  .services-container {
    padding: 90px 0;
  }

  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 0 12px;
  }

  .features-box {
    display: none;
  }

  .services-subtitle {
    font-weight: 500;
    font-size: 28px;
    color: #1ed1a8;
    letter-spacing: 0.4rem;
  }

  .services-title {
    font-size: 52px;
    color: #cecece;
    letter-spacing: 0.06em;
    margin-bottom: 28px;
  }

  .services-text {
    font-weight: 400;
    font-size: 18px;
    color: #cecece;
    letter-spacing: 0.08em;
    line-height: 1.6em;
    min-width: 390px;
    grid-column: 1 / -1;
  }

  /*******************************/
  /*! EXPERIENCE-SECTION */
  /*******************************/

  .experience-section {
    display: none;
  }

  /*******************************/
  /*! SKILLS-SECTION */
  /*******************************/

  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 60px 0;
  }

  .skils-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 60px;
    padding: 0 12px;
  }

  .skills-title {
    display: none;
  }

  .content-title {
    font-size: 52px;
    color: #cecece;
    letter-spacing: 0.02rem;

    margin-bottom: 32px;
  }

  .skills-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #cecece;
    letter-spacing: 0.06em;
    line-height: 1.6em;
  }

  .skills-link {
    letter-spacing: 0.08em;
  }

  .skils-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .skills-items {
    margin-top: 12px;
    height: 100%;
    width: 100%;
  }

  .skills-list {
    grid-column-gap: 14px;
    grid-row-gap: 42px;
  }

  /*******************************/
  /*! CONTACT-FORM-SECTION */
  /*******************************/

  .form-container {
    padding: 60px 0;
  }

  .form-title {
    font-family: "Source Code Pro", serif;
    font-weight: 500;
    font-size: 52px;
    color: #cecece;
    letter-spacing: 0.02em;

    text-align: center;
    margin-bottom: 40px;
  }

  .form-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    border: 2px solid #75cabe;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 36px 18px;

    min-width: 380px;
  }

  input {
    height: 42px;
  }

  input[type="submit"] {
    font-weight: 500;
    background: #23408f;

    height: auto;
    letter-spacing: 0.04em;
    margin-top: 22px;
  }

  .form-contant {
    display: none;
  }

  .form-contant::before {
    display: none;
  }

  /*? MESG-TITLE STYLE */

  .input-title-email {
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.04em;
  }

  .mesg {
    letter-spacing: 0.04em;
  }

  /*? MODAL-WINDOW */

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border-radius: 8px;
    text-align: center;

    padding: 0 20px;
    width: 380px;
    height: 180px;
  }

  .alert-close {
    position: absolute;
    font-size: 28px;
    color: #333;
    top: 7%;
    left: 44%;
  }

  .modal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
  }

  .info-mark {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    padding: 6px 8px;
    background-color: rgba(251, 66, 66, 1);
    border-radius: 50%;
  }

  #modal-message {
    font-size: 22px;
    line-height: 28px;
  }

  #modal-message::before {
    display: none;
  }

  /*******************************/
  /*? ARROW-BTTN */
  /*******************************/

  .button {
    /* display: block; */
    position: fixed;
    bottom: 42px;
    right: 26px;
    width: 76px;
    height: 76px;
  }

  .button-box {
    display: flex;
    position: absolute;
    top: 9px;
    left: 9px;
  }

  /* #arrowTop[hidden] {
    display: none;
  } */

  /*******************************/
  /*! FOOTER */
  /*******************************/

  .footer {
    padding: 50px 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 80px;
  }

  .logo-container {
    margin-bottom: 18px;
  }

  .footer-logo {
    width: 190px;
    height: 100%;
  }

  .footer-social {
  }

  .title-menu {
    font-size: 32px;
    letter-spacing: 0.08em;
    margin-bottom: 32px;
  }

  .footer-links {
    letter-spacing: 0.06em;
    font-size: 22px;

    color: #fff;
  }

  .br {
    width: 90vw;
    height: 1px;
    background-color: #5a5a5a;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
  }

  /*******************************/
  /*! GALLERY-SECTION */
  /*******************************/

  .gallery-img {
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 40px;
    padding: 60px 0;
  }

  .img-caption {
    font-weight: 400;
    font-size: 18px;

    color: #fff;
    letter-spacing: 0.04em;
    line-height: normal;
    width: 360px;
    margin-top: 26px;
  }

  /*******************************/
  /*! FOOTER */
  /*******************************/

  .gallery-container {
    padding: 60px 0;
  }

  .home-container {
    margin-left: 30px;
    padding: 36px 0;
  }

  /*? GALLERY */

  .gallery-header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 80px;
  }

  .gallery-title {
    font-size: 32px;
    letter-spacing: 0.04em;
  }

  .gallery-subtitle {
    font-size: 28px;
  }

  .gallery-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 80px;
    padding: 50px 0;
  }

  .img-caption {
    font-size: 18px;

    letter-spacing: 0.06em;
    width: 360px;
    margin-top: 26px;
  }

  /*? GALLERY-section 2 */

  .js-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 80px;
    padding-top: 50px;
  }

  .js-title {
    font-size: 32px;

    color: #fff;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.06em;
  }
}

@media (min-width: 426px) and (max-width: 767px) and (hover: none) and (pointer: coarse) {
  .logo {
    width: 120px;
    height: auto;
  }

  .nav-logo {
    position: relative;
    padding: 12px 0;
    flex-shrink: 0;
  }

  .nav-bar {
    padding: 0 15px;
  }

  .sticky .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
  }

  /*? ==== BURGER-MENU ====*/

  .nav-list.show {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    /* width: 100%; */
    padding: 16px;
  }

  .mob-gallery {
    display: block;
  }

  /*? dropdown */

  .dropdown {
    display: none;
  }

  .nav-links {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
  }

  .burger-btn {
    position: absolute;
    right: 18px;
    top: 20px;
    width: 40px;
    height: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 999;
    /* outline: 1px solid red; */
  }
  /* 
  .nav-bar {
    height: 65px;
  } */

  .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.9);
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
    padding-left: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);

    transform: translateX(100%);
    transition: all 0.4s ease-in;
    visibility: hidden;
    opacity: 0;

    z-index: 666;
    gap: 22px;
  }

  .show,
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .bar:nth-child(1).active {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .bar:nth-child(2).active {
    display: none;
  }
  .bar:nth-child(3).active {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  /*? STICKY NAVIGATION */

  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 69px;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 666;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.4);
  }

  .sticky .bar {
    background-color: rgb(0, 155, 233);
  }

  .sticky .nav-links {
    color: #fff;
  }
  /**=====================*/
  /*! HERO-SECTION */
  /**=====================*/

  .hero-title {
    font-family: "Source Code Pro", serif;
    font-weight: 700;
    font-size: clamp(32px, 5vw 52px);
    /* font-size: 62px; */

    color: #fff;
    /* line-height: 1.2; */
  }

  .hero-subtitle {
    font-size: clamp(26px, 5vw, 28px);

    margin-top: 22px;
  }

  .hero-btn {
    padding: 18px 46px;
    margin-top: 48px;
  }

  .icons-box {
    position: absolute;
    right: 50px;
    bottom: 56px;
  }

  /*******************************/
  /*! ABOUT-SECTION */
  /*******************************/

  .about-container {
    padding: 60px 0;
  }

  .about-feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 60px;

    width: 100%;
  }

  .img-container {
    object-fit: cover;
    object-position: center;

    width: 100%;
  }

  .about-title {
    font-size: clamp(52px, 5vw, 62px);
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }

  .about-subtitle {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
    letter-spacing: 0.08em;
    line-height: 1.4em;
  }

  .about-development {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
    letter-spacing: 0.08em;
    line-height: 1.4em;

    margin-top: 12px;
  }

  .border {
    padding: 0 10px;
  }

  /*******************************/
  /*! SERVICES-SECTION */
  /*******************************/

  .services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 60px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 60px 0;
  }

  .services-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    padding: 0 12px;
  }

  .features-box {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(0px);
    width: 100%;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 50px;
  }

  .services-subtitle {
    font-weight: 500;
    font-size: 28px;
    color: #1ed1a8;
    letter-spacing: 0.4rem;
  }

  .services-title {
    font-size: 52px;
    color: #cecece;
    letter-spacing: 0.06em;
    margin-bottom: 28px;
  }

  .services-text {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
    color: #cecece;
    letter-spacing: 0.08em;
    line-height: 1.6em;
    width: 100%;
    grid-column: 1 / -1;
  }

  /*******************************/
  /*! EXPERIENCE-SECTION */
  /*******************************/

  .experience-section {
    display: none;
  }

  /*******************************/
  /*! SKILLS-SECTION */
  /*******************************/

  .skils-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;
    padding: 0 12px;
    /* width: 100%; */
  }

  .skills-content {
    align-self: auto;
    max-width: 100%;
  }

  .skills-title {
    display: none;
  }

  .content-title {
    font-size: 52px;
    color: #cecece;
    letter-spacing: 0.02rem;

    margin-bottom: 32px;
  }

  .skills-subtitle {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 18px);
    color: #cecece;
    letter-spacing: 0.06em;
    line-height: 1.6em;
  }

  .skills-link {
    letter-spacing: 0.08em;
  }

  .skils-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .skills-items {
    background-color: rgb(255, 255, 255, 0.1);
    padding: 32px;
    border-radius: 8px;
    margin-top: 45px;
    max-width: 590px;
    width: 100%;
  }

  .skills-list {
    grid-column-gap: 14px;
    grid-row-gap: 42px;
  }

  /*******************************/
  /*! CONTACT-FORM-SECTION */
  /*******************************/

  .form-container {
    padding: 60px 0;
  }

  .form-title {
    font-size: 52px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
  }

  .form-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    border: 2px solid #75cabe;
    width: 100%;
  }

  /* .form-box {
    width: 100%;
  } */

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 36px 18px;

    width: 100%;
  }

  .form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  input {
    height: 42px;
    width: 100%;
  }

  input[type="submit"] {
    height: auto;
    letter-spacing: 0.04em;
    margin-top: 22px;
  }

  .form-contant {
    display: none;
  }

  .form-contant::before {
    display: none;
  }

  /*? MESG-TITLE STYLE */

  .input-title-email {
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.04em;
  }

  .mesg {
    letter-spacing: 0.04em;
  }

  /*? MODAL-WINDOW */

  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border-radius: 8px;
    text-align: center;

    padding: 0 20px;
    width: 380px;
    height: 180px;
  }

  .alert-close {
    position: absolute;
    font-size: 28px;
    color: #333;
    top: 7%;
    left: 44%;
  }

  .modal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
  }

  .info-mark {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    padding: 6px 8px;
    background-color: rgba(251, 66, 66, 1);
    border-radius: 50%;
  }

  #modal-message {
    font-size: 22px;
    line-height: 28px;
  }

  #modal-message::before {
    display: none;
  }
}
